body {
  margin: 0;
  background-color: rgb(41, 25, 116);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1511909022865-a30191182d6d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG91c2UlMjBhdCUyMG5pZ2h0fGVufDB8fDB8fA%3D%3D&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.6);
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background: transparent;
  color: aliceblue;
}

button {
  box-shadow: 2px 2px 5px 2px rgba(70, 4, 124, 0.9);
  border: none;
  background-color: black;
  color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
}

img {
  width: 50%;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30%;
}

@media (max-width: 480px) {
  .card {
    width: 60%;
  }

  img {
    width: 50%;
  }

  .additional-info {
    margin-left: 10%;
  }

  button {
    margin-top: 25px;
    margin-left: 20px;
  }
}